<!DOCTYPE html>
<html>

<head>
  <title>Stockify</title>
  <link rel = "stylesheet" href="{{url_for('static', filename='stylesheets/style.css') }}"/>
</head>
<body>
  <h1>Stockify</h1>
    <form action="" method="post" novalidate>

      {{ form.hidden_tag() }}

      <table>
        <tr>
          <td>{{ form.ticker.label }}</td>
          <td>{{ form.quantity.label }}</td>
        </tr>
        <tr>
          <td>{{ form.ticker(size = 20) }} </td>
          <td>{{ form.quantity(size = 10) }}</td>
        </tr>
      </table>

      <p> {{ form.submit() }} </p>

      <hr>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <table>
        <tr>
          {% for message in messages %}
          <td>{{ message }}</td>
          {% endfor %}
        </tr>
      </table>
      {% endif %}
      {% endwith %}
    </form>

<table id="my_table">
  <tr>
    <th> Ticker </th>
    <th> Quantity </th>
    <th> Current Price </th>
    <th> Opening Price </th>
    <th> Outcome </th>
  </tr>
  {% for stock in stockList %}
  <tbody>
    <tr>
      <td>{{stock.name}}</td>
      <td>{{stock.quantity}}</td>
      <td>{{stock.current_price}}</td>
      <td>{{stock.opening_price}}</td>
      <td>{{stock.change}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>

<hr>

{% with messages = get_flashed_messages() %}
{% if messages %}
<table>
  <tr>
    {% for message in messages %}
      <td>{{ message }}</td>
    {% endfor %}
  </tr>
</table>
{% endif %}
{% endwith %}

<a href="/generate_playlist?"><input type="button" value="Generate Playlist"></a>

</body>
</html>
